body{
    margin:0px;
    padding:0px;
    background-image: radial-gradient(#c7c7c7 25%, #c7c7c7 74%);
    font-family:system-ui;
}
.main{
    height: 2000px;
    width: 800px;
    background-color: white;
    box-shadow: 5px 7px 15px #b9b6b6;
    margin: 20px auto; 
 }
 .top-section{
     background-color: rgb(30, 28, 28);
     text-align: center;
     padding: 20px;
 }
 .profile{
     width:150px;
     border-radius: 50%;
 }
 .p1{
     color: white;
     font-size: 40px;
     margin: 0px;
     margin-top: 10px;
 }
 .p1 span{ 
     font-weight: 100%;
     color: #c7c7c7;
 }
 .p2{
     font: size 20px;
     color: #c7c7c7;
     margin: 0px;
     margin-top: :10px;
 } 
      .col-div-4{
          width: 35%;
          float: left;
 } 
 .line{
     border-left: 1px solid #c7c7c7;
     height: 800px;
     width: 2%;
     margin-top: 30px;
     float: left;
     }
     .content-box{
         padding: 20px;
 }
     .head{ 
         font-size: 20px;
         text-transform: uppercase;
         font-weight: 600;
 }
 .p3{ 
     margin-bottom: 5px;
 }

         
     


 

     


 
